.navbarIcon {
    padding: .5rem;
    cursor: pointer;
    font-size: large;
    font-weight: 900;
}
.navbarIcon:hover{
    filter : brightness(1.2);
}
.mainAdvHeading{
    font-size: 3rem;
    font-weight: 1000;
}

#navbar-mainAdv{
    background: url("./images/CeramicBell.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.CarouselItem{
    /* flex-grow: 1; */
}

.navIcon {
    margin-left: 1rem;
    font-size: larger;
    /* box-shadow: 0 1px. 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); */
    padding: .3rem ;
    transition: border-bottom-width 0.3s ease;
  }
  
  .navIcon:hover {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
    /* text-decoration: underline; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .badge {
    position: absolute;
    top: 0;
    right: -1px;
    font-size: small;
    background-color: red;
    /* Choose your desired background color */
    color: var(--color-text);
    /* Choose your desired text color */
    border-radius: 50%;
    opacity: 0.7;
    padding: 0.1em 0.3em;
  }
  
  .Body {
    border-radius: 0.5rem;
    /* margin: .5rem; */
    padding: .5rem;
    padding-top: 0rem;
  }
  
  .activeTab {
    background:linear-gradient(to bottom, var(--color-bg-4),var(--color-bg-1)) !important;
    opacity: 1 !important;
    transition: background-color 0.3s ease;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.6px 0 0 0;
    
  }
  .tab{
    background:linear-gradient(to bottom, var(--color-bg-1),var(--color-bg-3));
    /* opacity: 0.7; */
  }
  .tab:hover{
    /* opacity: 1; */
    background:linear-gradient(to bottom, var(--color-bg-3),var(--color-bg-1));
    transition: opacity 0.5s ease;
  }
  
  .optionsCell{
    box-sizing: border-box;
  }
  
  
  
  /* Time Input Styles */
  input[type=time] {
    border: none;
    color: #ffffff;
    font-family: helvetica;
  }
  
  /* Wrapper around the hour, minute, second, and am/pm fields as well as 
  the up and down buttons and the 'X' button */
  input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
  }
  
  /* The space between the fields - between hour and minute, the minute and 
  second, second and am/pm */
  
  /* The naming convention for the hour, minute, second, and am/pm field is
  `-webkit-datetime-edit-{field}-field` */
  
  /* Hour */
  input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: var(--color-bg-3) !important;
    border-radius: 15%;
  }
  
  /* Minute */
  input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: var(--color-bg-3) !important;
    border-radius: 15%;
  }
  
  /* AM/PM */
  input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #7155d3;
    border-radius: 15%;
    color: #fff;
  }
  
  /* 'X' button for resetting/clearing time */
  input[type=time]::-webkit-clear-button {
    display: none;
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    color: white !important; /* Change the color of the icon */
    border-radius: 50%; /* Make the icon circular */
  }
  /* Up/Down arrows for incrementing/decrementing the value */
  input[type=time]::-webkit-inner-spin-button {
    display: none;
  }
  /* Ends Here */
  
  .contextMenuItem{
    cursor: pointer;
    opacity: 0.6;
    display: none;
  }
  .contextMenuItem--show{
    display: flex;
    animation: fade-in 1s ease;
  }
  .contextMenuItem:hover{
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .toolbarIcon{
    color: whitesmoke;
    filter : brightness(0.8);
    transition: transform 0.3s ease; /* smooth transition */
  }
  .toolbarIcon:hover{
    filter : brightness(2.5);
    transform: scale(1.2);
    transition: opacity 0.3s ease;
  }
  .spotWidth{
    flex: 1 1 20%;
  }
  .spotGrid{
    flex: 1 1 80%;
  }
  
  
  
  /* RESIZABLE  CLASSES */
  .resize-handle-x {
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: 5;
    background-color: var(--color-border-4);
  }
  .resize-handle-y {
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: 5;
    background-color: var(--color-border-4);
  }
  
  .resize-handle-top {
    top: -1px;
    left: 50%;
    cursor: ns-resize;
    transform: translateX(-50%);
  }
  
  .resize-handle-right {
    top: 50%;
    right: -1px;
    cursor: ew-resize;
    transform: translateY(-50%);
  }
  
  .resize-handle-bottom {
    bottom: -1px;
    left: 50%;
    cursor: ns-resize;
    transform: translateX(-50%);
  }
  
  .resize-handle-left {
    top: 50%;
    left: -1px;
    cursor: ew-resize;
    transform: translateY(-50%);
  }
  
  .resize-handle-corner {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    z-index: 10;
    cursor: pointer;
  }
  
  .resize-handle-bottom-right {
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
  }

